html {
  height: 100%;
  width: 100%;
}

.my-table {
  border-collapse: collapse;
}

.my-table th,
.my-table td {
  border: 1px solid #808080;
  padding: 6px;
}


.gif_img {
  display: block;
  height: 256px;
  width: auto;
  margin-bottom: 10px;
  border: 1px solid black;
}